<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/x-icon" href="./assets/icons/logo_mini.svg">
  <link rel="preload" href="./assets/images/large_logo_dark.svg" as="image">
  <link rel="preload" href="./assets/images/login_background.png" as="image">
  <meta name="description" content="BIXI PRO">
  <meta name="keywords" content="BIXI">
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>BIXI PRO</title>
</head>

<body>
  <div id="root"></div>
</body>

</html>
